.main {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(180deg, #17202A, #2a3845);
    padding: 10px;
    box-sizing: border-box;
    animation: headerFade 0.7s ease-in;
}

.logo {
    border-radius: 10px;
}

@keyframes headerFade {
    0%{
        opacity: 0;
    }
}

@media (max-width:900px) {
    .main {
        justify-content: center;
    }
    .logo {
        width: 100px;
    }
}

@media (min-width:901px) {
    .main {
        justify-content: flex-start;
    }
    .logo{
        width: 150px;
    }
}