.main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(180deg, #17202A, #2a3845);
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
    animation: headerFade 0.7s ease-in;
}

.holder {
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1;
}

.left {
    justify-content: flex-start;
    padding-left: 10px;
}

.right {
    justify-content: flex-end;
    padding-right: 10px;
}

.logo {
    border-radius: 10px;
    margin: 0px 10px;
}

.image {
    border-radius: 10px;
}

@keyframes headerFade {
    0%{
        opacity: 0;
    }
}

@media (max-width:900px) {
    .main {
        height: 100px;
    }
    .logo {
        width: 100px;
    }
    .image {
        width: 70px; /* Synced with logo */
    }
}

@media (min-width:901px) {
    .main {
        height: 150px;
    }
    .logo {
        width: 150px;
    }
    .image {
        width: 105px; /* Synced with logo */
    }
}