.main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(180deg, #17202A, #2a3845);
    box-sizing: border-box;
    z-index: 1;
    animation: headerFade 0.7s ease-in;
}

.holder {
    display: flex;
    height: 100%;
    flex: 1;
    box-sizing: border-box;

    /* border: 5px solid red; */
}

.left {
    padding-left: 5px;
}

.right {
    padding-right: 5px;
}

.logo {
    border-radius: 10px;
    margin: 0px 10px;
}

.image {
    border-radius: 10px;

    /* border: 5px solid yellow; */
}

.image:active, .logo:active {
    opacity: 0.7;
    transform: translateY(1px)
}

.image:hover, .logo:hover {
    cursor: pointer;
}

@keyframes headerFade {
    0%{
        opacity: 0;
    }
}

@media (max-width:900px) {
    .main {
        height: 150px;
        padding: 5px;
    }
    .logo {
        width: 150px;
    }
    .holder {
        flex-direction: column;
        justify-content: space-between;
    }    
    .left {
        align-items: flex-start;
    }
    .right{
        align-items: flex-end;
    }
    .imageRight {
        width: 65px; /* Synced with logo - max 70px */
    }
    .imageLeft {
        width: 65px;
    }
    .logout {
        width: 50px;
        margin-left: 10px;
        margin-top: 5px;
    }
}

@media (min-width:901px) {
    .main {
        height: 150px;
        padding: 10px;
    }
    .holder {
        flex-direction: row;
        align-items: center;
    }
    .left {
        justify-content: flex-start;
    }
    .right {
        justify-content: flex-end;
    }
    .logo {
        width: 150px;
    }
    .imageRight {
        width: 100px; /* Synced with logo - max 105px */
    }
    .imageLeft {
        width: 100px;
    }
    .logout {
        width: 100px; /* Synced with imageLeft*/ 
        margin-right: 50px;
    }    
}