.main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    animation: homeFade 0.7s ease-in;
}

@keyframes homeFade {
    0%{
        opacity: 0;
    }
}

@media (max-width:900px) {
    .main {
        margin-top: 90px;
        flex-direction: column;
    }
}

@media (min-width:901px) {
    .main {
        margin-top: 200px;
        flex-direction: row;
    }
}