.main {
    position: relative;
}

.holder {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

.fadeIn {
    animation: fadeIn 0.7s ease-in-out forwards; /* 0.7s sync with header */
}

.fadeOut {
    animation: fadeOut 0.7s ease-in-out forwards; /* 0.7s sync with header */
}

.start {
    display: none;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
}

@keyframes fadeOut {
    100%{
        opacity: 0;
    }
}

@media (max-width:900px) {
    .holder {
        margin-top: 100px; /* Synced with header height */
        flex-direction: column;
    }
}

@media (min-width:901px) {
    .holder {
        margin-top: 200px; /* Synced with header height */
        flex-direction: row;
    }
}