.main {
    font-size: 28px;
    font-family: "Pixellari", sans-serif;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: #00000030 0px 19px 38px, #00000010 0px 15px 12px;
    box-sizing: border-box;
}

.main:hover {
    cursor: pointer;
}

.main:active{
    transform: translate(1px, 1px);
}

.count{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: #15020230 0px 19px 38px, #15020210 0px 15px 12px;
}

.countShrink{
    animation: shrink 0.3s linear forwards;
}

.countExpand{
    animation: expand 0.3s linear forwards;
}

@keyframes shrink {
    100%{
        transform: scale(50%) translateY(-200px);
    }
}

@keyframes expand {
    0%{
        transform: scale(50%) translateY(-200px);
    }
}

@media (max-width:900px) {
    .main {
        width: 95%;
        min-width: 200px;
        max-width: 400px;
        height: 350px;
    }
}

@media (min-width:901px) {
    .main {
        flex: 1;
        height: 400px;
    }
}