.main {
    font-family: "Pixellari", sans-serif;
    color: #FFFFFF;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: #00000030 0px 19px 38px, #00000010 0px 15px 12px;
    box-sizing: border-box;
}

.main:hover {
    cursor: pointer;
}

.main:active{
    box-shadow: #000000 0px 19px 38px, #000000 0px 15px 12px;
}

.count{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 29px;
    padding: 15px;
    max-width: 220px;
    max-height: 220px;
    width: 75%;
    border-radius: 50%;
    box-shadow: #15020230 0px 19px 38px, #15020210 0px 15px 12px;
}

.count::before{
    /* Equal to aspect-ratio: 1/1; */
    padding-top: 100%;
    content: "";
}

.countShrink{
    animation: shrink 0.3s linear forwards;
}

.countExpand{
    animation: expand 0.3s linear forwards;
}

.details{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    box-sizing: border-box;
}

.detailsStart{
    display: none;
}

.detailsShow{
    animation: show 0.3s linear forwards;
}

.detailsHide{
    animation: hide 0.3s linear forwards;
}

@keyframes shrink {
    100%{
        transform: scale(50%) translateY(-200px);
    }
}

@keyframes expand {
    0%{
        transform: scale(50%) translateY(-200px);
    }
}

@keyframes show {
    0%{
        display: none;
        transform: translateY(140px) scale(0%);
        opacity: 0;
    }
}

@keyframes hide {
    20%{
        opacity: 0.2;
    }
    100%{
        display: none;
        transform: translateY(90px);
        opacity: 0;
    }
}

@media (max-width:900px) {
    .main {
        width: 95%;
        min-width: 200px;
        max-width: 400px;
        height: 350px;
    }
    .details {
        top: 155px;
    }
}

@media (min-width:901px) {
    .main {
        flex: 1;
        height: 400px;
    }
    .details {
        top: 180px;
    }
}