.main {
    font-family: "Pixellari", sans-serif;
    color: #FFFFFF;
    font-size: 40px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

.text {
    animation: moveIn 2s ease-in forwards;
}

@keyframes moveIn {
    0%{
        transform: scale(3000%);
    }
    30%{
        transform: scale(160%);
    }
    90%{
        transform: scale(140%);
    }  
    100%{
        transform: scale(100%);
    }
}