.main {
    font-family: "Pixellari", sans-serif;
    color: #FFFFFF;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

@keyframes moveInWide {
    0%{
        transform: scale(12000%);
    }
    30%{
        transform: scale(160%);
    }
    90%{
        transform: scale(140%);
        opacity: 1;
    }  
    100%{
        transform: scale(100%);
        opacity: 0;
    }
}

@keyframes moveInNarrow {
    0%{
        transform: scale(12000%);
    }
    30%{
        transform: scale(140%);
    }
    90%{
        transform: scale(120%);
        opacity: 1;
    }  
    100%{
        transform: scale(100%);
        opacity: 0;
    }
}

@media (max-width:850px) {
    .main{
        font-size: 28px;
    }
    .text{
        animation: moveInNarrow 3s ease-in forwards;
    }
}

@media (min-width:851px) {
    .main{
        font-size: 50px;
    }
    .text{
        animation: moveInWide 3s ease-in forwards;
    }
}